.advanced-search-form {
  width: 100%;
  max-width: 900px;
  margin: 40px auto; /* Added margin from top to separate from navbar */
  padding: 20px;
  background-color: white;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.search-input,
.category-select {
  border-radius: 8px;
}

.search-button {
  font-weight: 600;
  border-radius: 8px;
  background-color: #1976d2;
  padding: 10px 0;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #1565c0;
}

.reset-button {
  font-weight: 600;
  border-radius: 8px;
  border: 2px solid #1976d2;
  color: #1976d2;
  padding: 10px 0;
  transition: all 0.3s;
}

.reset-button:hover {
  border-color: #1565c0;
  color: #1565c0;
}
