.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(
    26,
    18,
    11,
    0.6
  ); /* Dark brown with opacity for the backdrop */
  z-index: 10;
}
