.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #1a120b; /* Dark brown */
  border-radius: 4px;
  background: #1a120b; /* Dark brown */
  color: #d5cea3; /* Light beige */
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
  transition: background-color 200ms, border-color 200ms;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #3c2a21; /* Dark reddish brown */
  border-color: #3c2a21; /* Dark reddish brown */
}

.button--inverse {
  background: transparent;
  color: #1a120b; /* Dark brown */
}

.button--inverse:hover,
.button--inverse:active {
  color: #d5cea3; /* Light beige */
  background: #1a120b; /* Dark brown */
}

.button--danger {
  background: #e5e5cb; /* Light cream */
  border-color: #e5e5cb; /* Light cream */
}

.button--danger:hover,
.button--danger:active {
  background: #d5cea3; /* Light beige */
  border-color: #d5cea3; /* Light beige */
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc; /* Light gray */
  color: #979797; /* Muted gray */
  border-color: #ccc; /* Light gray */
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}
